.artist-card {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 65%; 
}

.artist-image {
    width: 100px; 
    height: 100px; 
    border-radius: 10px; 
    margin-right: 20px; 
    object-fit: cover; 
}

.artist-info {
    color: #ffffff;
    flex-grow: 1; 
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.concert-info-button, .spotify-link {
    background: linear-gradient(135deg, rgba(16, 255, 100, 0.8), rgba(30, 179, 77, 0.8));
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 20vh;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    font-family: Arvo;
}

.concert-info-button:hover, .spotify-link:hover {
    background-color: #17a84c; 
    transform: scale(1.05); 
}
